.float-right {
    float: right;
    max-width: 300px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
  }
  
  .bordered {
    display: block;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    margin: 0 auto;
  }
  